/*Mobile first!*/

body{
	margin: 0;
	width: auto;
	font-family: "Gill Sans", sans-serif;
}


/*Header*/


header{
	background-color: black;
	display: flex;
	padding: 4%;
	align-items: center;
	color: white;
}

#dropBarCategorias{
	margin-right: -4%;
}

#dropBarCategorias img{
	padding: 0;
	width: 60%;
}
#dropBarCategorias div{
	display: none;
	position: fixed;
	margin-left: -4%;
	margin-top: -16%;
	width: 100%;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 15px;
	line-height: 150%;
}

#dropBarCategorias button{
	display: block;
	margin-left : auto;
	border: 0;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-right: 2%;
	margin-top: 2%;
}

#dropBarCategorias a{
	text-decoration: none;
	color: white;
}

#dropBarCategorias p{
	text-align: center;
	font-size: 23px;
	margin: 0;
}

#logo{
	margin-right: 15%;
}

#logo img{
	width: 130%;
	
	
}

#pesquisa{
	text-align: right;
	margin-right: 4%;
	margin-left: -10%;
}


#pesquisa img{
/*	position: relative;*/
	width: 40%;
	margin: 0;

}

#userIcons{
	align-items: center;
	width: 80%;
	display: flex;
}

#user{
	width: 30%;
}

#carrinho{
	width: 40%;
	margin-top: 3%;
}

#numItemsCarrinho{

	font-size: 10px;
}

#searchBar{
	display: none;
	position: absolute;
/*	display: flex;*/
	margin-left: -40%;
	background-color: black;
	padding: 10px;
	width: 60%;
	margin-top: 5%;
	border-radius: 10px;
}

#searchBar input{
	background-color: white;
	margin: 2%;
	border: 0;
	border-radius: 10px;
}

#searchBar button{
	margin-left: 2%;
	background-color: transparent;
	border: 0;
	padding: 0;
}

#searchBar img{
	width: 110%;
	margin-right: 5%;
}

#searchBar p{
	margin-left: 5%;
	font-weight: bold;
	font-size: 13px;
}


/*Main*/

main{
	background-color: black;
	padding: 15px;
}

#corpo{
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

h1{
	text-align: center;
}

.boxProduto{
	margin-left: 8%;
	padding: 20px;
	text-align: center;
	width: 70%;
	border: solid 2px black;
	border-radius: 6px;

}

.imagemProduto{
	width: 80%;
}

.nomeProduto{
	font-size: 25px;
	font-weight: bold;
}

.divisoriaProduto{

	display: flex;
	font-size: 20px;
	font-weight: bold;
}

.divisoriaProduto button{
	background-color: black;
	font-size: 10px;
	color: white;
	width: 150px;
}

.divisoriaProduto button:last-child{
	margin-left: 5%;

}

.precoProduto{
	margin-left: 10%;
	margin-right: 5%;
}

.labelTamanhoProduto{
	display:flex;
	align-content: center;
	flex-wrap: wrap;
}

.tamanhoCamiseta{
	margin-left: 2%;
	margin-top: 7%;
	padding: 5px;
	height: 60%;
}

/*Desktop*/
@media only screen and (min-width: 768px) {
	body{
		margin: 0;
	}

	header{
		background-color: black;
	}

	#dropBarCategorias{

	}

	#logo{

	}

	#pesquisa{

	}

	#user{

	}

	#carrinho{

	}


}